<!DOCTYPE html>
<html>
    <head>
        <title><%= user.username %>'s Github</title>
        <link rel="stylesheet" type="text/css" href="css/profile.css">
        <%- include('../partials/includes') %>
    </head>
    <body>
        <%- include('../partials/nav') %>
        <div class="container-fluid profileContainer">
            <div class="container profileTop">
                <h2>Welcome <%= user.username %></h2>
                <div class="margTop" id="userAssets"></div>
            </div>
            <br>
            <div class="container darkContainer">
                <a style="max-width: 300px" class="btn btn-success btn-block mx-auto" href="https://github.com/<%=user.username %>">My Github</a>
                <br>
                <br>
                <table id="repos" class="table table-hover">
                    <tr>
                        <th>Repo Name</th>
                        <th><span class="fa fa-code-fork"></span> Forks</th>
                        <th>Language</th>
                        <th>Watchers</th>
                        <th></th>
                    </tr>
                </table>
            </div>
            <%- include('../partials/footer') %>
        </div>
        <script>
            $(document).ready(function() {
                sessionGit();

                function sessionGit() {
                    $.getJSON('/api', (data) => {
                        userAssets(data);
                        user = new GithubUser(data.login, data.repos_url, data.events_url, data.received_events_url);
                        user.reposUrl();
                    });
                }

                class GithubUser {
                    constructor(name, repos_url, events_url, recieved_events_url) {
                        this.name = name;
                        this.repos_url = repos_url;
                        this.events_url = events_url;
                        this.recieved_events_url = recieved_events_url;
                    }

                    reposUrl() {
                        $.getJSON(this.repos_url, (repos) => {
                            repos.forEach(writeRepos);
                        });
                    }
                }

                function writeRepos(item, index) {
                    document.getElementById("repos").innerHTML +=
                        '<tr>'
                            if (item.description === null) {
                                document.getElementById("repos").innerHTML +=
                                    '<td>' + '<b>' + '<a href=' + item.html_url + '>' + item.name + '</a>' + '</b>' + '</td>' +
                                    repoAbout(item)
                            } else {
                                document.getElementById("repos").innerHTML +=
                                '<td>' + '<b>' + '<a href=' + item.html_url + '>' + item.name + '</b>' + ': ' + item.description + '</a>' + '</td>' +
                                repoAbout(item)
                            }
                        '</tr>';
                }

                function repoAbout(item) {
                    if (item.language === null) {
                        var a = '<td>' + item.forks_count + '</td>' +
                        '<td></td>' +
                        '<td>' + item.watchers + '</td>' +
                        '<td>' +
                            '<a class="btn btn-success btn-sm" href=' + item.html_url + '>' + 
                                '<span class="fa fa-github">' + " url" + 
                            '</a>' + 
                        '</td>'
                    } else {
                        var a = 
                        '<td>' + item.forks_count + '</td>' +
                        '<td>' + item.language + '</td>' +
                        '<td>' + item.watchers + '</td>' +
                        '<td>' + 
                            '<a class="btn btn-success btn-sm" href=' + item.html_url + '>' + 
                                '<span class="fa fa-github">' + " url" + 
                            '</a>' + 
                        '</td>'
                    }
                    return a;
                }


                function userAssets(data) {
                    document.getElementById("userAssets").innerHTML +=
                    '<div class="container">' +
                        '<img class="circleImg" src=' + data.avatar_url + '>' + '<br>' +
                            '<b>' + '<a style="color: white" href=' + data.html_url + '>' + data.name + '</a>' + '<br>' +
                            '<b>' + 'Company: ' + data.company + '</b>' + '<br>' +
                            '<b>' + 'Blog: ' + data.blog + '</b>' + '<br>' +
                            '<b>' + 'Bio: ' + data.bio + '</b>' + '<br>' +
                            '<b>' + 'Public Repos Count: ' + '<strong class="odometer">' + data.public_repos + '</strong>' + '</b>' + '<br>' +
                            '<b>' + 'Following: ' + data.following + ' Followers: ' + data.followers + '</b>' + '<br>' +
                        '<br>' + 
                        '<hr>' +
                    '</div>';
                }
             });
        </script>
    </body>
</html>